<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063572891256-bh4gr0p8717vhat07kp7boft415ohd1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063572891256-bh4gr0p8717vhat07kp7boft415ohd1m</string>
	<key>API_KEY</key>
	<string>AIzaSyCAL2xemYKPiUgjdIWlgn-zoxRfNAG4VT0</string>
	<key>GCM_SENDER_ID</key>
	<string>1063572891256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tomConn</string>
	<key>PROJECT_ID</key>
	<string>tomconn-8c66d</string>
	<key>STORAGE_BUCKET</key>
	<string>tomconn-8c66d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063572891256:ios:75075b14295993c3fc6f8d</string>
</dict>
</plist>